foto.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.3-b01-. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://foto.ws.usp/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://foto.ws.usp/" name="FotoSIBService">
<wsp:Policy wsu:Id="FotoSIBPortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"></ns1:OptimizedMimeSerialization>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://foto.ws.usp/" schemaLocation="https://uspdigital.usp.br:443/wsfoto/foto?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="obterFotoCartao">
<part name="parameters" element="tns:obterFotoCartao"></part>
</message>
<message name="obterFotoCartaoResponse">
<part name="parameters" element="tns:obterFotoCartaoResponse"></part>
</message>
<message name="WSException">
<part name="fault" element="tns:WSException"></part>
</message>
<message name="listarFotoCartao">
<part name="parameters" element="tns:listarFotoCartao"></part>
</message>
<message name="listarFotoCartaoResponse">
<part name="parameters" element="tns:listarFotoCartaoResponse"></part>
</message>
<message name="listarFotoCartaoAtualizado">
<part name="parameters" element="tns:listarFotoCartaoAtualizado"></part>
</message>
<message name="listarFotoCartaoAtualizadoResponse">
<part name="parameters" element="tns:listarFotoCartaoAtualizadoResponse"></part>
</message>
<message name="incluirFotoCartao">
<part name="parameters" element="tns:incluirFotoCartao"></part>
</message>
<message name="incluirFotoCartaoResponse">
<part name="parameters" element="tns:incluirFotoCartaoResponse"></part>
</message>
<portType name="FotoWS">
<operation name="obterFotoCartao">
<input wsam:Action="http://foto.ws.usp/FotoWS/obterFotoCartaoRequest" message="tns:obterFotoCartao"></input>
<output wsam:Action="http://foto.ws.usp/FotoWS/obterFotoCartaoResponse" message="tns:obterFotoCartaoResponse"></output>
<fault message="tns:WSException" name="WSException" wsam:Action="http://foto.ws.usp/FotoWS/obterFotoCartao/Fault/WSException"></fault>
</operation>
<operation name="listarFotoCartao">
<input wsam:Action="http://foto.ws.usp/FotoWS/listarFotoCartaoRequest" message="tns:listarFotoCartao"></input>
<output wsam:Action="http://foto.ws.usp/FotoWS/listarFotoCartaoResponse" message="tns:listarFotoCartaoResponse"></output>
<fault message="tns:WSException" name="WSException" wsam:Action="http://foto.ws.usp/FotoWS/listarFotoCartao/Fault/WSException"></fault>
</operation>
<operation name="listarFotoCartaoAtualizado">
<input wsam:Action="http://foto.ws.usp/FotoWS/listarFotoCartaoAtualizadoRequest" message="tns:listarFotoCartaoAtualizado"></input>
<output wsam:Action="http://foto.ws.usp/FotoWS/listarFotoCartaoAtualizadoResponse" message="tns:listarFotoCartaoAtualizadoResponse"></output>
<fault message="tns:WSException" name="WSException" wsam:Action="http://foto.ws.usp/FotoWS/listarFotoCartaoAtualizado/Fault/WSException"></fault>
</operation>
<operation name="incluirFotoCartao">
<input wsam:Action="http://foto.ws.usp/FotoWS/incluirFotoCartaoRequest" message="tns:incluirFotoCartao"></input>
<output wsam:Action="http://foto.ws.usp/FotoWS/incluirFotoCartaoResponse" message="tns:incluirFotoCartaoResponse"></output>
<fault message="tns:WSException" name="WSException" wsam:Action="http://foto.ws.usp/FotoWS/incluirFotoCartao/Fault/WSException"></fault>
</operation>
</portType>
<binding name="FotoSIBPortBinding" type="tns:FotoWS">
<wsp:PolicyReference URI="#FotoSIBPortBinding_MTOM_Policy"></wsp:PolicyReference>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="obterFotoCartao">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarFotoCartao">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="listarFotoCartaoAtualizado">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="incluirFotoCartao">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="WSException">
<soap:fault name="WSException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="FotoSIBService">
<port name="FotoSIBPort" binding="tns:FotoSIBPortBinding">
<soap:address location="https://uspdigital.usp.br:443/wsfoto/foto"></soap:address>
</port>
</service>
</definitions>